<section>
  <header>
    <div class="w-100 mb-5 d-flex align-items-center justify-content-center" id="about-image">
      <div class="bg-black bg-opacity-50 h-100">
        <div class="container h-100">
          <div class="row row-flex align-items-center row-cols-1 row-cols-lg-2  h-100">
            <div class="col text-center">
              <h2 class="text-white  display-3 fw-bold">Robert Yepez</h2>
              <p class="lead"><i class="fw-italic">Full-Stack Web Developer</i></p>
            </div>
            <div class="col d-flex align-items-center">
              <p class="fs-4 text-start lead">
                I am a computer engineer, since college I was very interested in web development, since then I keep
                myself in constant learning about this whole universe, during my career I have developed ecommerce, saas
                and cms projects.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
