<div class="container pt-5 mt-5 min-vh-100">
  <section>
    <header class="mb-3">
      <h2 class="display-2 fw-bold">
        Contact
      </h2>
    </header>
    <article>
      <ul class="list-unstyled">
        <li class="lead mb-3">
          <i class="bi bi-envelope fs-4"></i>: <i><a class="text-decoration-none text-white"
              href="mailto:robertyepez0208@gmail.com">robertyepez0208&#64;gmail.com</a></i>
        </li>
        <li class="lead mb-3">
          <i class="bi bi-linkedin fs-4"></i>: <i><a class="text-decoration-none text-white"
              href="https://www.linkedin.com/in/robert-yepez-266034207/">robert-yepez-266034207</a></i>
        </li>
        <li>

        </li>
      </ul>
    </article>
  </section>
</div>
