@font-face {
  font-family: inconsolata;
  src: url(../public/assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

body {
  background-color: black;
  color: white;
  font-family: inconsolata;
  -webkit-font-smoothing: antialiased;
}
