<section>
  <header>
    <div class="w-100 mb-5" id="home-image">
      <div class="bg-black bg-opacity-50 h-100">
        <div class="container h-100">
          <div class="row row-flex align-items-center row-cols-1 row-cols-lg-2  h-100 pt-5">
            <div class="col d-flex align-items-center">
              <h2 class="text-white text-start display-3 fw-bold">Building applications for everyone.</h2>
            </div>
            <div class="col d-flex align-items-center ">
              <p class="display-6 text-start lead">
                Do you have an idea?<br>
                -¡Let's make it happen!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>

<section class="mb-5">
  <div class="container">

    <header class="mb-3">
      <h2 class="display-2 fw-bold">
        Some Projects
      </h2>
    </header>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="col">
        <article class="h-100">
          <div class="project-cover rounded-3 p-3 h-100">
            <div class="project-cover-image">
              <img src="/assets/images/projects/Screenshot 2024-06-26 150451.png" alt="" srcset=""
                class="w-100 h-100 rounded-3">
            </div>
            <div class="project-description">
              <h3 class="fs-3 fw-bold">BOOMSHOP</h3>
              <p>Entertainment services recharge platform.</p>
            </div>
          </div>
        </article>

      </div>
      <div class="col">
        <article class="h-100">
          <div class="project-cover rounded-3 p-3 h-100">
            <div class="project-cover-image">
              <img src="/assets/images/projects/Screenshot 2024-06-26 150556.png" alt="" srcset=""
                class="w-100 h-100 rounded-3">
            </div>
            <div class="project-description">
              <h3 class="fs-3 fw-bold">UELCON</h3>
              <p>Educational lending platform.</p>
            </div>
          </div>
        </article>

      </div>
      <div class="col">
        <article class="h-100">
          <div class="project-cover rounded-3 p-3 h-100">
            <div class="project-cover-image">
              <img src="/assets/images/projects/Screenshot_16-6-2024_183116_economiadigital.test.jpeg" alt="" srcset=""
                class="w-100 h-100 rounded-3">
            </div>
            <div class="project-description">
              <h3 class="fs-3 fw-bold">DIGITAL ECONOMY</h3>
              <p>Content management system for digital economy courses in universities.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <footer class="text-end mt-3">
      <a href="" class="text-decoration-none fs-5 link">see more <i class="bi bi-arrow-right"></i></a>
    </footer>
  </div>
</section>
