#home-image{
  height: 480px;
  background-attachment: fixed;
  //background-position: 0px -400px;
  background-image: url(../../assets/images/abstract-2497959_1920.jpg);
}

.project-cover-image{
  aspect-ratio: 16 / 9;
  margin-bottom: 25px;
}


